<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="common">

    <!-- ======= Footer ======= -->
    <div class="footer-container">
        <ul class="footer-info flex_center">
            <li><a href="#">팀소개</a></li>


        </ul>
        <ul class="footer-ico flex_center">
            <li>
                <img th:src="@{/common/image/sns_blog.png}">
            </li>
            <li>
                <img th:src="@{/common/image/sns_faceb.png}">
            </li>
            <li>
                <img th:src="@{/common/image/sns_inst.png}">
            </li>
            <li>
                <img th:src="@{/common/image/sns_youtube.png}">
            </li>
        </ul>

        <address>
            이용약관 / 개인정보 방침으로 구성 / 영상정보처리기기 운영관리 방침
            <br>
            © Copyright 2024 바둑교육. All rights reserved.
        </address>
    </div>


    <div class="copyright">
        &copy; Copyright <strong><span>baduk</span></strong>. All Rights Reserved
    </div>
    <div class="credits">

        Designed by <a href="http://localhost:3000/">baduk</a>
    </div>
    <!-- End Footer -->

</footer>
</html>