<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/teacher/layouts/main}">

<main layout:fragment="content" class="layout_width">
<body>
<a th:href="@{/studyGroup/add}">학습그룹 등록 /</a>
<a th:href="@{/studyGroup}">학습그룹 조회 /</a>
<a th:href="@{/JoinStudyGroup/accept}">학습그룹 가입 승인 /</a>
<a th:href="@{/t}">숙제 생성 /</a>
<a th:href="@{/t}">숙제 배포 /</a>
<a th:href="@{/t}">숙제 학습 진도 조회 /</a>
</body>
</main>
</html>
