<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<form th:action="@{/studyGroup/detail}">
    <select name="num" >
        <option th:each="stGroup : ${list}" th:value="${stGroup.num}" th:text="${stGroup.name}" th:field="${item.num}"></option>
    </select>
    <button type="submit">상세 조회</button>
</form>

<div th:replace="~{front/teacher/studyGroup/_detail::detail}"></div>
<hr>
<table border="1">
    <tr>
        <th>선택</th>
        <th>NO</th>
        <th>학생이름</th>
        <th>이메일</th>
        <th>주소</th>
        <th>가입일자</th>
    </tr>
    <tr>
        <td>학생1</td>
        <td>학생1</td>
        <td>학생1</td>
        <td>학생1</td>
        <td>학생1</td>
        <td>학생1</td>
    </tr>
    <tr>
        <td>학생2</td>
        <td>학생2</td>
        <td>학생2</td>
        <td>학생2</td>
        <td>학생2</td>
        <td>학생2</td>
    </tr>
    <tr>
        <td>학생3</td>
        <td>학생3</td>
        <td>학생3</td>
        <td>학생3</td>
        <td>학생3</td>
        <td>학생3</td>
    </tr>
    </form>
</table>

</html>
