<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<form th:action="@{/studyGroup/detail}" th:object="${item}">
   <select name="num" th:field="*{num}">
        <option th:each="stGroup : ${list}"  th:value="${stGroup.num}" th:text="${stGroup.name}" ></option>
    </select>
    <button type="submit">상세 조회</button>
</form>

<div th:replace="~{front/teacher/studyGroup/_detail::detail}"></div>
<hr>
<h1>더미데이터라 고정돼있음</h1>
<h2>해당 스터디그룹 가입 학생 목록</h2>
<table border="1">
    <tr>

        <th>NO</th>
        <th>학생이름</th>
        <th>이메일</th>
        <th>주소</th>
        <th>가입일자</th>
    </tr>
    <tr>
        <td>1</td>
        <td>학생1</td>
        <td>adsfda@adsf.dsaf</td>
        <td>서울 종로</td>
        <td>2024.02.05</td>
    </tr>
    <tr>
        <td>2</td>
        <td>학생2</td>
        <td>adsfda@adsf.dsaf</td>
        <td>서울 노원구</td>
        <td>2023.02.08</td>
    </tr>
    <tr>
        <td>3</td>
        <td>학생3</td>
        <td>asdf.@dasf.com</td>
        <td>경기도 화성</td>
        <td>2023.09.02</td>
    </tr>
    </form>
</table>

</html>
