<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="common">
        <section class="logo_area">
            <a th:href="@{/admin}">
<!--                <img src="https://static.bmhd.cz/data/loga-dopravcu/7/6482.png" height="80px">-->
                로고
            </a>
        </section>
<!--        <section class="btn_area">-->
<!--            <th:block sec:authorize="isAuthenticated()">-->
<!--                <a th:href="@{/mypage/profile}">회원정보 수정</a>-->
<!--                <a th:href="@{/member/logout}">로그아웃</a>-->
<!--            </th:block>-->
<!--            <th:block sec:authorize="isAnonymous()">-->
<!--                <a th:href="@{/member/join}">회원가입</a>-->
<!--                <a th:href="@{/member/login}">로그인</a>-->
<!--            </th:block>-->
<!--        </section>-->
        <i class="bi bi-person-circle"></i>
        <a th:href="@{/}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                <path d="M15.57 9.45a8 8 0 0 0-1.47-1.79l-.08-.07a6.97 7.97 0 0 0-.68-.56l-.09-.06a7.48 7.48 0 0 0-1.52-.54l-.1-.03a4.03 4.03 0 0 0-.49-.05H8.5V2h-1v2.9a8.001 8.001 0 0 0-1 15.1V14H4v2h2.5v1h1v-1h.29a8.016 8.016 0 0 0 7.22-4.5H15v-2h-1.45a8.06 8.06 0 0 0-.71-2.55z"/>
            </svg>
            <span>HomePage</span>
        </a>
    </header>
</html>