<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<h1>상세</h1>



<table >
    <tr>
        <th> 담당 선생님 설명</th>
        <td>~~~~~~~~~~~~~~~~~어쩌구 저쩌구~~~~~~~~~~~~</td>
    </tr>
    <tr>
        <th>최대 인원</th>
        <td th:text="${item.maxSubscriber}">
        </td>
    </tr>
    <tr>
        <th>기간</th>
        <td th:text="${item.startDate + ' ~'  +item.endDate}"></td>
    </tr>
    <tr>
        <th>달성 레벨</th>
        <td th:text="${item.maxLevel}"></td>
    </tr>
    <tr>
        <th>설명</th>
        <td th:text="${item.text}"></td>
    </tr>
    <tr>
        <th>게임 정보</th>
        <td th:text="${item.gameContent}"></td>

    </tr>
</table>

</html>