<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">

  <h1 th:text="#{인증정보}"></h1>

<!--  <dl>-->
<!--    <dt th:text="#{회원명}"></dt>-->
<!--    <dd>-->
<!--      <input type="text" name="name" th:field="*{session.name}">-->
<!--    </dd>-->
<!--  </dl>-->

<!--  <dl>-->
<!--    <dt th:text="#{이메일}"></dt>-->
<!--    <dd>-->
<!--      <input type="text" name="email" th:field="*{session.email}">-->
<!--    </dd>-->
<!--  </dl>-->

  <form name="frmJoin" method="post" th:action="@{/member/join}" autocomplete="off" th:object="${requestJoin}">

    <dl>
      <dt th:text="#{아이디}"></dt>
      <dd>
        <input type="text" class="inputId" name="userId" th:field="*{userId}" placeholder="공백없이 영문/숫자 6자">
        <button type="button" class="id_btn" id="userId_dup_check" th:text="#{중복_확인}"></button>
        <div class="id_check_ok"></div>
      </dd>
    </dl>

    <dl>
      <dt th:text="#{비밀번호}"></dt>
      <dd>
        <input type="password" name="password" th:field="*{password}" placeholder="공백없이 영문(대/소문자) 숫자 및 특수문자 조합 8~10자">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{비밀번호_확인}"></dt>
      <dd>
        <input type="password" name="confirmPassword" th:field="*{confirmPassword}" placeholder="비밀번호를 한번 더 입력하세요">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{생년월일}"></dt>
      <dd>
        <input type="text" name="bDay" th:field="*{bDay}" placeholder="앞6자리+뒤1자리">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{이메일}"></dt>
      <dd>
        <input type="text" name="email" th:field="*{email}" placeholder="이메일 주소를 입력하세요.">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{회원종류}"></dt>
      <dd>
        <select name="authority" th:field="*{authority}">
          <option name="authority" id="authority_USER" th:field="*{authority}" th:value="USER">일반회원</option>
          <option name="authority" id="authority_TEACHER" th:field="*{authority}" th:value="TEACHER">교육자</option>
          <option name="authority" id="authority_STUDENT" th:field="*{authority}" th:value="STUDENT">학습자</option>
        </select>
    </dl>

    <dl>
      <dt th:text="#{성별}"></dt>
      <dd>
        <input type="radio" name="gender" id="gender_M" th:field="*{gender}" th:value="M">
        <label for="gender_M">남자</label>
        <input type="radio" name="gender" id="gender_F" th:field="*{gender}" th:value="F">
        <label for="gender_F">여자</label>
      </dd>
    </dl>

    <div th:text="#{수신동의}"></div>
    <div class="terms_agree">
      <input type="checkbox" name="agree" value="true" id="agree" th:field="*{agree}">
      <label for="agree" th:text="#{회원가입_약관에_동의합니다.}"></label>
    </div>

    <dl>
      <dt th:text="#{회원명}"></dt>
      <dd>
        <input type="text" name="name" th:field="*{name}">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{휴대전화}"></dt>
      <dd>
        <input type="text" name="tel" th:field="*{tel}" placeholder="( - ) 빼고 숫자만 입력">
      </dd>
    </dl>

    <button type="submit" th:utext="#{회원가입}"></button>

  </form>
</main>
</html>