<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <h1 th:text="#{인증정보}"></h1>

  <form name="frmJoin" method="post" th:action="@{/member/join}" autocomplete="off" th:object="${requestJoin}">

    <dl>
      <dt th:text="#{회원명}"></dt>
      <dd>
        <input type="text" name="name" th:field="*{name}">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{이메일}"></dt>
      <dd>
        <input type="text" name="email" th:field="*{email}">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{아이디}"></dt>
      <dd>
        <input type="text" name="userId" th:field="*{userId}">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{비밀번호}"></dt>
      <dd>
        <input type="password" name="password" th:field="*{password}" value="_aA123456">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{비밀번호_확인}"></dt>
      <dd>
        <input type="password" name="confirmPassword" th:field="*{confirmPassword}" value="_aA123456">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{생년월일}"></dt>
      <dd>
        <input type="text" name="bDay" th:field="*{bDay}" placeholder="앞6자리+뒤1자리">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{성별}"></dt>
      <dd>
        <input type="text" name="gender" th:field="*{gender}">
      </dd>
    </dl>

    <dl>
      <dt th:text="#{휴대전화}"></dt>
      <dd>
        <input type="text" name="tel" th:field="*{tel}" placeholder="( - ) 빼고 숫자만 입력">
      </dd>
    </dl>
    <dl>
      <dt th:text="#{회원종류}"></dt>
      <dd>
        <input type="radio" name="authority" id="authority_USER" th:field="*{authority}" th:value="USER">
        <label for="authority_USER">일반회원</label>
        <input type="radio" name="authority" id="authority_TEACHER" th:field="*{authority}" th:value="TEACHER">
        <label for="authority_TEACHER">교육자</label>
        <input type="radio" name="authority" id="authority_STUDENT" th:field="*{authority}" th:value="STUDENT">
        <label for="authority_STUDENT">학습자</label>
      </dd>
    </dl>


    <div th:text="#{수신동의}"></div>
    <div class="terms_agree">
      <input type="checkbox" name="agree" value="true" id="agree" th:field="*{agree}">
      <label for="agree" th:text="#{회원가입_약관에_동의합니다.}"></label>
    </div>

    <button type="submit" th:utext="#{회원가입}"></button>

  </form>

</html>