<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h2>게임 콘텐츠 수정</h2>
<form method="post" th:action="@{/admin/gamecontent/edit/{num}(num=*{num})}" autocomplete="off"
      th:object="${requestGameContentData}">

    <table>
        <tr>
            <td>게임콘텐츠명</td>
            <td>
                <input type="text" name="gameTitle" th:field="*{gameTitle}">
            </td>
        </tr>

        <tr>
            <td>총게임레벨</td>
            <td>
                <input type="text" name="totalGameLevels" th:field="*{totalGameLevels}">
            </td>
        </tr>

        <tr>
            <td>구독개월</td>
            <td>
                <input type="text" name="subscriptionMonths" th:field="*{subscriptionMonths}">
            </td>
        </tr>

        <tr>
            <td>구독가능기간</td>
            <td>
                <input type="date" name="startDate" th:field="*{startDate}">
                <input type="date" name="endDate" th:field="*{endDate}">
            </td>
        </tr>

        <tr>
            <td>구독가능인원</td>
            <td>
                <input type="text" name="maxSubscriber" th:field="*{maxSubscriber}">
            </td>
        </tr>

        <tr>
            <td>정가</td>
            <td>
                <input type="text" name="originalPrice" th:field="*{originalPrice}">
            </td>
        </tr>

        <tr>
            <td>할인율</td>
            <td>
                <input type="text" name="discountRate" th:field="*{discountRate}">
            </td>
        </tr>

        <tr>
            <td>판매가</td>
            <td>
                <input type="text" name="salePrice" th:field="*{salePrice}">
            </td>
        </tr>

        <tr>
            <td>패키지내용</td>
            <td>
                <input type="text" name="packageContents" th:field="*{packageContents}">
            </td>
        </tr>

        <!--            <tr>-->
        <!--                <td>썸네일</td>-->
        <!--                <td>-->
        <!--                    <input>-->
        <!--                </td>-->
        <!--            </tr>-->
    </table>
    <button type="submit" onclick="return confirm('정말 수정하시겠습니까?');">수정하기</button>
</form>
</html>