<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="common">
        <div class="justify-content-end text-center">
          <div class="row row-cols-1 g-3">
            <div class="card-footer">
              <h5 class="card-title">상호명: 바둑교육...</h5>
              <p class="card-text">주소: 서울특별시 이대역 중앙정보처리학원 통신판매업신고번호:제2024-서울이대-0호</p>
              <p class="card-text">대표자: @@@ 사업자 등록번호: 000-00-00000 전화: 0000-0000 팩스: 00-0000-0000 이메일: user01@test.org</p>
            </div>
            <div class="card-footer">
              <p class="card-text"><small class="text-body-secondary">개인정보 처리방침  개인정보 수집 이용 안내 </small></p>
            </div>
          </div>
        </div>
        <a href="#">
            <div class="btn_top" id="btn_top" style="position: fixed; bottom: 6vw; right: 2vw; border-radius: 50%; background: #0003; width: 3rem; height: 3rem; align-items: center; display: flex; padding: 0 8px; visibility: hidden;">Top</div>
        </a>
    </footer>
</html>
