<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common">
    <div class="site_top">
        <div class="layout_width">
            <th:block sec:authorize="isAnonymous()"> <!-- 미 로그인 상태 -->
                <a th:href="@{/member/confirmation}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <span th:text="#{회원가입}"/>
                </a>
                <a th:href="@{/member/login}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                        <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                    </svg>
                    <span th:text="#{로그인}"/>
                </a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()"> <!-- 로그인 상태 -->

<!--                <th:block th:if="${session.member.profileImage != null}"-->
<!--                          th:utext="${@utils.printThumb(session.member.profileImage.seq, 80, 80, 'profile_image')}">-->
<!--                    ></th:block>-->

                <span th:text="${#messages.msg('LOGIN_MSG', session.member.name, session.member.userId)}"></span>
                <a th:href="@{/mypage}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>
                    <span th:text="#{마이페이지}"></span>
                </a>

                <i class="bi bi-person-circle"></i>
                <a th:href="@{/member/logout}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                        <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                    </svg>
                    <span th:text="#{로그아웃}"></span>
                </a>

                <i class="bi bi-person-circle"></i>
                <a th:href="@{/cart}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bucket" viewBox="0 0 16 16">
                        <path d="M2.522 5H2a.5.5 0 0 0-.494.574l1.372 9.149A1.5 1.5 0 0 0 4.36 16h7.278a1.5 1.5 0 0 0 1.483-1.277l1.373-9.149A.5.5 0 0 0 14 5h-.522A5.5 5.5 0 0 0 2.522 5zm1.005 0a4.5 4.5 0 0 1 8.945 0H3.527zm9.892 1-1.286 8.574a.5.5 0 0 1-.494.426H4.36a.5.5 0 0 1-.494-.426L2.58 6h10.838z"/>
                    </svg>
                    <span th:text="#{장바구니}"></span>
                </a>

                <i class="bi bi-person-circle"></i>
                <a th:href="@{/admin}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                        <path d="M15.57 9.45a8 8 0 0 0-1.47-1.79l-.08-.07a6.97 7.97 0 0 0-.68-.56l-.09-.06a7.48 7.48 0 0 0-1.52-.54l-.1-.03a4.03 4.03 0 0 0-.49-.05H8.5V2h-1v2.9a8.001 8.001 0 0 0-1 15.1V14H4v2h2.5v1h1v-1h.29a8.016 8.016 0 0 0 7.22-4.5H15v-2h-1.45a8.06 8.06 0 0 0-.71-2.55z"/>
                    </svg>
                    <span>Admin</span>
                </a>

            </th:block>
        </div>
    </div>
    <!-- // site_top -->

    <div class="logo_search">
        <div class="layout_width">
            <a th:href="@{/}" class="logo">
<!--                <img src="https://static.bmhd.cz/data/loga-dopravcu/7/6482.png" height="80px">-->
                <div>로고</div>
            </a>
            <nav th:replace="~{front/outlines/_main_menu::menus}"></nav>메뉴 영역
            <form name="frmSearch" class="search" th:action="@{/board/search}" autocomplete="off">
                <input type="text" name="skey" th:value="${param.skey}" th:placeholder="#{검색어를_입력하세요.}">
                <button type="submit" class="search_btn">
                    <i class="xi-search"></i>
                </button>
            </form>
        </div>
        <!--// layout_width -->
    </div>
    <!--// logo_search -->

</header>
</html>
